/* -------------------------------- SCROLLBAR -------------------------------- */
#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: clamp(10px, 3cqi, 33px);
    height: 100%;
    background: rgba(255, 255, 255, 0.001);
    z-Index: 9999;}
#progressBar{
    position: fixed;
    top: 0;
    right: 0;
    width: clamp(3px, 1cqi, 5px);
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: progressAnimate 5s linear infinite;
    z-Index: 10000;}
@keyframes progressAnimate{
    0%, 100%{
        filter: hue-rotate(0deg); }
    50%{
        filter: hue-rotate(360deg);}}
#progressBar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(clamp(5px, 2cqi, 10px));}
#progressBar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(clamp(10px, 4cqi, 30px));}
/* -------------------------------- SCROLLBAR -------------------------------- */
/* -------------------------------- ScrollRevealAnimation -------------------------------- */
.reveal{
    opacity: 0;}
.reveal.active{
    opacity: 1;}
.active.fade-bottom{
    animation: fade-bottom 1s ease-in;}
.active.fade-left{
    animation: fade-left 1s ease-in;}
.active.fade-right{
    animation: fade-right 1s ease-in;}
@keyframes fade-bottom{
    0%{
        transform: translateY(50px);
        opacity: 0;}
    100%{
        transform: translateY(0);
        opacity: 1;}}
@keyframes fade-left{
    0%{
        transform: translateX(-100px);
        opacity: 0;}
    100%{
        transform: translateX(0);
        opacity: 1;}}
@keyframes fade-right{
    0%{
        transform: translateX(100px);
        opacity: 0;}
    100%{
        transform: translateX(0);
        opacity: 1;}}
/* -------------------------------- ScrollRevealAnimation -------------------------------- */